<header style="background-color: #333; color: white; padding: 1rem;">
    <nav>
        <a href="/" style="color: white; text-decoration: none; font-weight: bold; font-size: 1.2rem;">Nexus Hub</a>
        <span style="float: right;">
            <a href="/login" style="color: white;">Login</a>
        </span>
    </nav>
</header>